/*geral*/

:root{
  --cinza:#e5e5e5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(112, 110, 110);
}

header.header-nav {
position: relative;
top: 0;
height: auto;
width: 100%;
}

/* navbar */
nav.register-nav {
position: fixed;
top: 0;
left: 0;
height: 65px;
width: 100%;
z-index: 1;
background-color: #FFF;
border-bottom: 1px solid #CCC;
}

.nav-container {
max-width: 1200px;
position: relative;
margin-left: auto;
margin-right: auto;
}

#logo {
height: 40px;
  margin-top: 10px;
  margin-left: 10px;	
}

.nav-container ul {
float: right;
height: 100px;
line-height: 58px;
margin-bottom: 30px;
}

.nav-container ul li {
list-style: none;
float: left;

} 

.nav-container li a {
text-decoration: none;
color: black;
transition: .5s;
  font-weight: 250;
  font-size: 18px;  
  font-family:'Bebas Neue', cursive ;
}

.nav-container li a:hover {
color: #3381f3;
}

input{
  display: block;
  width: 100%;
}

input:focus{
  outline: none;
}

.Lbemail,.Lbnome,.Lbsenha,.LbConfirmacao{
  display: block;
  width: 100%;
}

.Lbemail,.Lbnome,.Lbsenha,.LbConfirmacao:focus{
  outline:none;
}

a{
  color: #003b92;
}

body.body-register{
  padding-top: 5vh; /*5% DA TELA*/
  background-color:var(--cinza);

}

/*Formulario*/

#main-container{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
}
  

#main-container h1{
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive ;
  color: black;

  font-size: 2rem;
  text-align: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.full-box{
  flex: 1 1 100%;
  position: relative;
}

.half-box{
  flex: 1 1 45%;
  position: relative;
}

.spacing{
  margin-right: 2.5%;
}

label{
  font-weight: bold;
  font-size: .8rem;
  margin: 5px;
}

input{
  padding:10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus{
  box-shadow: 1px 1px 1px rgba(175, 174, 174, 0.5);
}


input[type="submit"]{
  background-color: #003b92;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
  margin: 10px;
}

input[type="submit"]:hover{
  background-color: #3a74ca;
  transition: .5s;
}

#agreement{
  margin-right: 5px;

}
#agreement,#agreement-label{
  display: inline-block;
  width: auto;
}

.error-validation{
  color: rgb(236, 133, 133);
  position: absolute;
  top: 57px;
  font-size: .8rem;

}

.template{
  display: none;
  
}


/*Responsividade*/

@media screen  and (max-width:790px){
  .main-container{
      text-align: center;
  }

}

@media screen  and (max-width:770px){
  .nav-container li a {
      display: none;
  }
}

